@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}
body {
    background: #111;
}

.account {
    margin-top: 2%;
    margin-left: 2%;
}

.account a {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(45deg, #ff357a, #fff172);
}


.result {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.find {
     margin: auto;
     margin-top: 10%;
 }

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: none;
    cursor: pointer;
    width: 300px;
    height: 100%;
}

.form input {
    background: transparent;
    border: 2px solid #fff;
    padding: 12px 20px;
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
}

.form input[type="submit"] {
    width: 50%;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
}